<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form Design One | Fazt</title>
    <link rel="stylesheet" href="../css/contacto.css">
  </head>
  <body>

    <header class="header">
       
      <div id="encabezado">
          
          <div id="logo">
              <img  class="imagen"src="../img/logo.png" >
          </div>

          <div id="menu">
             
              <ul>
                <li><a href="../index.html"class="enlace">Inicio</a></li>
                <li><a href="/templates/acerca_de.html"class="enlace">Acerca de...</a></li>
                <li><a href="/templates/usuarios_frecuentes.html"class="enlace">Usuarios Frecuentes</a></li>
                <li><a href="/templates/contacto.html"class="active-menu">Contáctenos</a></li>
                <li><a href="/templates/creador.html"class="enlace">Desarrollo</a></li>  
                  
              </ul>
          </div>
      </div>


      
      <div class="login-box">
        <img src="../img/user.png" class="avatar" alt="Avatar Image">
        

            <p>
                <h2>Números de teléfono</h2>
                <p>
                Tel: 40153472   Tel: 34343434
                </p>
                <p>
                    
                    </p>
            </p>

            <p>
                <h2>Correo</h2>
                <p>
                   cats_books@gmail.com
                </p>
            
                <h2>Direccioón</h2>
                <p>
                  Km 36 carretera Interamerica, Santiago, Guatemala
                </p>
         
          
          
      </div>
  

  </header>

  </body>
</html>
