<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form Design One | Fazt</title>
    <link rel="stylesheet" href="../css/frecuentes.css">
    
    
  </head>
  <body>

    <header class="header">
       
      <div id="encabezado">
          
          <div id="logo">
              <img  class="imagen"src="../img/logo.png" >
          </div>

          <div id="menu">             
              <ul>
                  <li><a href="../index.html"class="enlace">Inicio</a></li>
                  <li><a href="/templates/acerca_de.html"class="enlace">Acerca de...</a></li>
                  <li><a href="/templates/usuarios_frecuentes.html"class="active-menu">Usuarios Frecuentes</a></li>
                  <li><a href="/templates/contacto.html"class="enlace">Contáctenos</a></li>
                  <li><a href="/templates/creador.html"class="enlace">Desarrollo</a></li>                  
              </ul>
          </div>
      </div>
      <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <h2>Libros-Thriller</h2>      
      
      
        <br><div class="tab4" id="lienzo10" >
            <table style="border-collapse: collapse" bordercolor="#111111" width="900" id="tblganadores" >
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Cantidad comprada</th>
                </tr>
                
    
            </table>    
            <br>
            <br>
            <br>
            <br>         
            <script src="//d3js.org/d3.v5.min.js"></script>
            <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
            <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
            <script type="text/javascript" src="../js/compras.js"></script>                
            <br>              
        </div>





      
  

  </header>



    
  </body>
</html>
